<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load socialaccount %}
<head>
    <meta charset="UTF-8">
    <title>Sign In / Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'ecommerce_styles/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2 class="text-center mb-4">Sign In</h2>
                <form action="{% url 'e_commerce:signin' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Enter username" name="username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    <div class="or-seperator"><i>or</i></div>
                    <a href="{% provider_login_url 'google' %}" class="btn btn-block btn-google">  <i class="fab fa-google"></i>   Sign In with Google</a>
                      <a href="#" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Sign In with Facebook</a>
                </form>
                <p class="text-center mt-3">Don't have an account? <a href="{% url 'e_commerce:signup' %}">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>
